@import "test.less";

.root {
    width: 100%;
    height: 100%;
}

@keyframes my_test {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.closeImg {
    width: 25px;
    height: 25px;
    background-image: url('file://{images}/hud/icons/close_dark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shellfishImg {
    width: 33.333px;
    height: 30px;
    background-image: url('file://{images}/hud/icons/shellfish.png');
    background-size: 100% 100%;
}

.shellfishText {
    color: #FFF;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: 30px;
    font-weight: bold;
}

.shellfishPlusImg {
    width: 20px;
    height: 20px;
    background-image: url('file://{images}/hud/icons/shellfishplus.png');
    background-size: 100% 100%;
}

.barTextBri {
    color: #FFF;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: 40px;
}

.barTextNor {
    color: #2F2120;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: 40px;
}

.barBri {
    border-radius: 100px;
    background-color: #433736;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.15);

    width: 180px;
}

// .barNor {
// }

.circle {
    background-image: url('file://{images}/hud/icons/circle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shellfish {
    background-image: url('file://{images}/hud/icons/shellfish.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shellfishDark {
    background-image: url('file://{images}/hud/icons/shellfish_dark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.member {
    background-image: url('file://{images}/hud/icons/member.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.memberDark {
    background-image: url('file://{images}/hud/icons/member_dark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.signin {
    background-image: url('file://{images}/hud/icons/signin.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.signinDark {
    background-image: url('file://{images}/hud/icons/signin_dark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.telentText {
    color: #FFF;
    font-family: KaiTi;
    font-size: 30px;
}

.telentRandomImg {
    background-image: url("s2r://panorama/images/dota_plus/relic_rare_button_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;

    &:hover {
        brightness: 2.0;
    }
}

.telentRandomText {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Microsoft YaHei";
    font-size: 13px;
    align: center center;
}

.telentDetermineImg {
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100%;
    background-repeat: no-repeat;

    &:hover {
        brightness: 2.0;
    }
}

.telentEllipseImg {
    background-image: url('file://{images}/hud/icons/ellipse.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.telentEllipseText {
    color: #FFF;
    font-family: "Microsoft YaHei";
    font-size: 13px;
}

.telentPanelBg1 {
    background-color: rgba(51, 51, 51, 1);
    border: 3px solid #FFF;

    .text {
        color: rgb(255, 255, 255);
    }

    .delta {
        background-image: url('file://{images}/hud/icons/delta.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.telentPanelBg2 {
    background-color: rgba(204, 204, 204, 1);

    .text {
        color: rgb(82, 82, 82);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1);

        .text {
            color: rgb(0, 0, 0);
        }
    }
}

.telentPanelText {
    font-family: "Microsoft YaHei";
    font-size: 15px;
}

.introduction-background {
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #80745C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.introduction {
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #000;
}

.coin-icon {
    width: 25px;
    height: 25px;
    background-image: url('file://{images}/hud/icons/shellfish.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.super-coins {
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #80745C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.super-coins-content {
    border-radius: 50px;
    border: 3px #2F2120;
    background-color: #2F2120;
}

.super-coins-text {
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #000;
    box-shadow: 0px 3.879px 3.879px 0px rgba(255, 255, 255, 0.25);
}

.super-coins-text2 {
    border-radius: 100px;
    background-color: #FFF;
}

.super-coins-buyButton {
    border-radius: 100px;
    border: 3px solid #80745C;
    background-color: #fff;

    &:hover {
        background-color: gradient(linear, 100% 100%, 0% 0%, from(#FFFFFF), to(#80745C));
    }

    &:active {
        background-color: gradient(linear, 100% 100%, 0% 0%, from(#80745C), to(#FFFFFF));
    }
}

.other-coins {
    width: 750px;
    height: 220px;
    margin-bottom: 25px;
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #80745C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.other-coin-content {
    width: 500px;
    height: 220px;
    margin-left: 250px;
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #2F2120;
}

.other-coin-text {
    width: 300px;
    height: 220px;
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #000;
}

.other-coins-buybutton {
    width: 153px;
    height: 45px;
    margin-left: 327px;
    margin-top: 132px;
    border-radius: 9999px;
    border: 3px solid #80745C;
    // background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), #FFF;
    background-color: #FFF;

    .text {
        color: #2F2120;
    }

    &:hover {
        background-color: gradient(linear, 100% 100%, 0% 0%, from(#FFFFFF), to(#80745C));
    }

    &:active {
        background-color: gradient(linear, 100% 100%, 0% 0%, from(#80745C), to(#FFFFFF));
    }
}

.vip-description {
    width: 700px;
    height: 700px;
    margin-left: 40px;
    margin-top: 150px;
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #80745C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.vip-description-background {
    width: 500px;
    height: 500px;
    padding: 41.67px 41.67px 41.67px 41.67px;
    margin-left: 100px;
    margin-top: 100px;
    background-image: url('file://{images}/hud/icons/member_dark.png');
    background-size: 100% 100%;
}

.vip-icon-background {
    width: 43.4px;
    height: 42px;
    background-color: #2F2120;
    border-radius: 70px;
}

.vip-icon {
    width: 28px;
    height: 28px;
    background-image: url('file://{images}/hud/icons/member.png');
    background-size: 100% 100%;
}

.checkinImg {
    width: 950px;
    height: 760px;
    margin-left: 50px;
    margin-top: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.checkin-description {
    width: 500px;
    height: 700px;
    margin-left: 1050px;
    margin-top: 150px;
    border-radius: 50px;
    border: 3px solid #2F2120;
    background-color: #80745C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.checkin-description-content {
    width: 440px;
    height: 640px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #000;
}

.activity-nav-background {
    width: 300px;
    height: 700px;
    margin-left: 50px;
    margin-top: 150px;
    border-radius: 50px;
    background-color: #433736;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.activity-nav {
    width: 300px;
    height: 625px;
    margin-top: 75px;
    border-radius: 20px 20px 50px 50px;
    background-color: #2F2120;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.activity-nav-list {
    margin-top: 30px
}

.activityItem-normal {
    width: 300px;
    height: 100px;
    padding: 29px 30px 0px 30px;

    .text {
        align: center center;
        color: #FFF;
        font-size: 30px;
        text-shadow: 0px 4px 4px rgb(0, 0, 0);
    }

    .line {
        width: 300px;
        height: 2px;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.20);
        box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.10);
        vertical-align: bottom;
    }
}

.activityItem-active {
    width: 320px;
    height: 120px;
    padding: 29px 30px 0px 30px;
    border-radius: 20px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#666));

    .text {
        align: center center;
        color: #FFF;
        font-size: 30px;
        text-shadow: 0px 4px 4px rgb(0, 0, 0);
    }
}

.inviteduser-number {
    width: 550px;
    height: 250px;
    margin-left: 400px;
    margin-top: 150px;
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #2F2120;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.awareShellfish-number {
    width: 550px;
    height: 250px;
    margin-left: 1000px;
    margin-top: 150px;
    border-radius: 50px;
    border: 10px solid #FFF;
    background-color: #2F2120;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.userId {
    width: 1150px;
    height: 50px;
    border-radius: 50px;
    background-color: #000;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}